
    <section class="hero py-6">
        <div class="container flex mx-auto items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em> Are you hungry ?</em></h6>
                <h1 class="text-4xl">Dont wait</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 bg-black">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/logo.jpg" alt="Logo" class="h-screen w-full">
            </div>
        </div>
    </section>
    <section class="menu container mx-auto py-8">
        <h1 class="text-6xl font-bold my-8">Food Items</h1>
        <div class="grid grid-cols-4 col-gap-12 row-gap-16">
            <% food.forEach(function(foodItem){ %>
                <div class="w-64">
                    <img src="/img/<%= foodItem.image %>" alt="<%= foodItem.name %>">
                    <div class="text-center">
                        <h2><%= foodItem.name %></h2>
                        <span><%= foodItem.type %></span>
                        <div class="flex items-center justify-around">
                            <span>Rs. <%= foodItem.price %></span>
                            <button class="addToCart py-1 px-6 rounded-full flex items-cente text-bold">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            <% })%>
        </div>
    </section>

</body>
</html>